
.footer {
    text-align: center;
    width: 100%;
    align-content: end;
    flex: 1;
}

.footer_hr {
    border: none;
    border-top: 1px solid var(--Footer_hr_color);
}

.footer_p {
    color: var(--Footer_p_color);
    letter-spacing: 3px;
    font-size: var(--FirstFontSize);
}

.footer-company-image {
    display: inline-block;
    height: 1.4rem;
    width: auto;
    object-fit: contain;
    vertical-align: middle;
}

.footer-year {
    font-size: var(--SecondFontSize);
    color: var(--Footer_year_text_color);
}

/* MEDIA */
@media (min-width: 768px) {
    .footer_p {
        font-size: 0.8rem;
        margin-top: 30px;
    }
}
