
@font-face {
    font-family: 'Arimo';
    src: url('../fonts/Arimo/Arimo-Regular.ttf');
    font-display: swap;
}

/* Reset + normalizace */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
    color: var(--Body_html_text_color);
    width: 100%;
    min-width: 320px;
    overflow-x: hidden;
    overflow-y: scroll;
    scrollbar-gutter: stable;
}

body {
    background-color: var(--Body_background_color);
    padding: 0 8px;
    margin: 0 auto;
}

.material-symbols-outlined {
    visibility: hidden;
}

html.material-symbols-ready .material-symbols-outlined {
    visibility: visible;
}

/* 2560px – 2K
 */
@media (min-width: 2560px) {
    body {
        max-width: 2560px;
    }
}
