
/* Social Sites Group */
#Social_sites:hover {
    cursor: pointer;
}

/* Circle border remove*/
#Social_sites #circle_border,
#Social_sites:active #circle_border {
    fill: none !important;
    stroke: none !important;
}

/* Circle */
#fb_Circle circle {
    fill: var(--Social_sites_circle_border_color) !important;
}

/* Path */
path {
    fill: var(--Social_sites_font_color) !important;
}

#Social_sites:active #fb_Circle circle {
    fill: var(--Social_sites_cricle_border_color_active) !important;
}
