
/* Social Sites Group */
#Social_sites:hover {
    cursor: pointer;
}

/* Circle remove*/
#insta_Circle circle,
#Social_sites:active #circle,
#Social_sites:active #circle_border {
    fill: #FFFFFF00 !important;
    stroke: #FFFFFF00 !important;
}

/* Path */
#insta_logo path {
    fill: var(--Social_sites_circle_border_color) !important;
}

#Social_sites:active #insta_logo path {
    fill: var(--Social_sites_cricle_border_color_active) !important;
}
