<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<location path="." inheritInChildApplications="false">
		<system.webServer>
			<handlers>
				<add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
			</handlers>
			<aspNetCore processPath="dotnet" arguments=".\OrangeWeb.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess">
				<environmentVariables>
					<environmentVariable name="ASPNETCORE_ENVIRONMENT"
										 value="lp_production"
										 xdt:Transform="SetAttributes(value)"
										 xdt:Locator="Match(name)"
										 />
					<environmentVariable name="ContactFormEmail__Password"
										 value="xsmtpsib-be0957831a37d9666166b8d0df2e5e82e7e85e4d7f4f8ff465c0e97851ce12ed-Zsd5ZvJ0VK7ZafdH"
										 xdt:Transform="SetAttributes(value)"
										 xdt:Locator="Match(name)" />

					<environmentVariable name="Minio__SecretKey"
										 value="dhX@kH667ZHhsdp!7BsDuZmt"
										 xdt:Transform="SetAttributes(value)"
										 xdt:Locator="Match(name)" />
				</environmentVariables>
			</aspNetCore>
			
			<rewrite xdt:Transform="Replace">
				<rules>
					<clear />
					<rule name="Force HTTPS + WWW" stopProcessing="true">
						<match url=".*" />
						<conditions logicalGrouping="MatchAny" trackAllCaptures="false">
							<add input="{HTTP_HOST}" matchType="Pattern" pattern="^lpobrabeni\.cz$" ignoreCase="true" negate="false" />
							<add input="{HTTPS}" pattern="off" />
						</conditions>
						<action type="Redirect" url="https://www.lpobrabeni.cz/{R:0}" />
					</rule>
					<rule name="Proxy gallery to MinIO" stopProcessing="true">
						<match url="^gallery/(.*)$" />
						<action type="Rewrite"
								url="https://www.lpobrabeni.cz:9000/oplp/gallery/{R:1}"
								appendQueryString="true" />
					</rule>

					<rule name="Proxy news to MinIO" stopProcessing="true">
						<match url="^news/(.*)$" />
						<action type="Rewrite"
								url="https://www.lpobrabeni.cz:9000/oplp/news/{R:1}"
								appendQueryString="true" />
					</rule>

					<rule name="Proxy photo-gallery to MinIO" stopProcessing="true">
						<match url="^photo-gallery/(.*)$" />
						<action type="Rewrite"
								url="https://www.lpobrabeni.cz:9000/oplp/photo-gallery/{R:1}"
								appendQueryString="true" />
					</rule>

					<rule name="Proxy references to MinIO" stopProcessing="true">
						<match url="^references/(.*)$" />
						<action type="Rewrite"
								url="https://www.lpobrabeni.cz:9000/oplp/references/{R:1}"
								appendQueryString="true" />
					</rule>

					<rule name="Proxy actualities to MinIO" stopProcessing="true">
						<match url="^actualities/(.*)$" />
						<action type="Rewrite"
								url="https://www.lpobrabeni.cz:9000/oplp/actualities/{R:1}"
								appendQueryString="true" />
					</rule>
				</rules>

				<outboundRules>
					<rule name="Add Cache-Control for MinIO images" preCondition="IsMinioImage">
						<match serverVariable="RESPONSE_Cache_Control" pattern="^$" />
						<action type="Rewrite" value="public, max-age=31536000, immutable" />
					</rule>

					<preConditions>
						<preCondition name="IsMinioImage">
							<add input="{REQUEST_URI}"
									 pattern="^/(?:gallery|news|photo-gallery)/.*\.(?:avif|webp|png|jpeg|jpg|gif|svg|bmp|ico|tiff?)$"
									 ignoreCase="true" />
						</preCondition>
					</preConditions>
				</outboundRules>
			</rewrite>
			
		</system.webServer>
	</location>
</configuration>