<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<location path="." inheritInChildApplications="false">
		<system.webServer>
			<handlers>
				<add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
			</handlers>

			<aspNetCore processPath="dotnet" arguments=".\Op_LP.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess">
				<environmentVariables>
					<environmentVariable name="ASPNETCORE_ENVIRONMENT"
										 value="RemoteDevelopment"
										 xdt:Transform="SetAttributes(value)"
										 xdt:Locator="Match(name)" />

					<environmentVariable name="ContactFormEmail__Password"
										 value="xsmtpsib-be0957831a37d9666166b8d0df2e5e82e7e85e4d7f4f8ff465c0e97851ce12ed-76Kug4JrPxxJvF27"
										 xdt:Transform="SetAttributes(value)"
										 xdt:Locator="Match(name)" />

					<environmentVariable name="Minio__SecretKey"
										 value="dhX@kH667ZHhsdp!7BsDuZmt"
										 xdt:Transform="SetAttributes(value)"
										 xdt:Locator="Match(name)" />
				</environmentVariables>
			</aspNetCore>

			<rewrite xdt:Transform="Replace">
				<rules>
					<rule name="Proxy gallery to MinIO" stopProcessing="true">
						<match url="^gallery/(.*)$" />
						<action type="Rewrite"
								url="https://test.lpobrabeni.cz:9000/oplptest/gallery/{R:1}"
								appendQueryString="true" />
					</rule>

					<rule name="Proxy news to MinIO" stopProcessing="true">
						<match url="^news/(.*)$" />
						<action type="Rewrite"
								url="https://test.lpobrabeni.cz:9000/oplptest/news/{R:1}"
								appendQueryString="true" />
					</rule>

					<rule name="Proxy photo-gallery to MinIO" stopProcessing="true">
						<match url="^photo-gallery/(.*)$" />
						<action type="Rewrite"
								url="https://test.lpobrabeni.cz:9000/oplptest/photo-gallery/{R:1}"
								appendQueryString="true" />
					</rule>
				</rules>

				<outboundRules>
					<rule name="Add Cache-Control for MinIO images" preCondition="IsMinioImage">
						<match serverVariable="RESPONSE_Cache_Control" pattern="^$" />
						<action type="Rewrite" value="public, max-age=31536000, immutable" />
					</rule>

					<preConditions>
						<preCondition name="IsMinioImage">
							<add input="{REQUEST_URI}"
									 pattern="^/(?:gallery|news|photo-gallery)/.*\.(?:avif|webp|png|jpeg|jpg|gif|svg|bmp|ico|tiff?)$"
									 ignoreCase="true" />
						</preCondition>
					</preConditions>
				</outboundRules>
			</rewrite>
		</system.webServer>
	</location>
</configuration>
