<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<location path="." inheritInChildApplications="false">
		<system.webServer>
			<handlers>
				<add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
			</handlers>

			<aspNetCore processPath="dotnet"
						arguments=".\OrangeWeb.dll"
						stdoutLogEnabled="false"
						stdoutLogFile=".\logs\stdout"
						hostingModel="inprocess">
				<environmentVariables>
					<environmentVariable name="ASPNETCORE_ENVIRONMENT" value="" />
					<environmentVariable name="ContactFormEmail__Password" value="" />
					<environmentVariable name="Minio__SecretKey" value="" />
					<!--tady je třeba upravit cestu !!!-->
					<environmentVariable name="OP_CONFIG_DIR" value="D:\OrangeConfigs\LP" />
				</environmentVariables>
			</aspNetCore>

			<rewrite>
				<rules>
					<clear />
					<rule name="Force HTTPS + WWW" stopProcessing="true">
						<match url=".*" />
						<conditions logicalGrouping="MatchAny" trackAllCaptures="false">
							<add input="{HTTP_HOST}" matchType="Pattern" pattern="^lpobrabeni\.cz$" ignoreCase="true" negate="false" />
							<add input="{HTTPS}" pattern="off" />
						</conditions>
						<action type="Redirect" url="http://localhost/{R:0}" />
					</rule>
					<rule name="Proxy gallery to MinIO" stopProcessing="true">
						<match url="^gallery/(.*)$" />
						<action type="Rewrite"
								url="http://localhost:9000/oplp/gallery/{R:1}"
								appendQueryString="true" />
					</rule>

					<rule name="Proxy news to MinIO" stopProcessing="true">
						<match url="^news/(.*)$" />
						<action type="Rewrite"
								url="http://localhost:9000/oplp/news/{R:1}"
								appendQueryString="true" />
					</rule>

					<rule name="Proxy photo-gallery to MinIO" stopProcessing="true">
						<match url="^photo-gallery/(.*)$" />
						<action type="Rewrite"
								url="http://localhost:9000/oplp/photo-gallery/{R:1}"
								appendQueryString="true" />
					</rule>
				</rules>

				<outboundRules>
					<rule name="Add Cache-Control for MinIO images" preCondition="IsMinioImage">
						<match serverVariable="RESPONSE_Cache_Control" pattern="^$" />
						<action type="Rewrite" value="public, max-age=31536000, immutable" />
					</rule>

					<preConditions>
						<preCondition name="IsMinioImage">
							<add input="{REQUEST_URI}"
								 pattern="^/(?:gallery|news|photo-gallery)/.*\.(?:avif|webp|png|jpeg|jpg|gif|svg|bmp|ico|tiff?)$"
								 ignoreCase="true" />

						</preCondition>
					</preConditions>
				</outboundRules>
			</rewrite>

		</system.webServer>
	</location>
</configuration>
